.Invincible {
  display: none;
}
.white {
  background-color: white;
}

/*Hero section styles*/
.HomeHero {
    height: 400px;
    width: 100%;
    background-color: rgb(10, 69, 220);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.HomeHero h2 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    /*text-shadow: 2px 2px grey;*/
    font-weight: normal;
    font-family: 'GothamLightRegular';
    text-transform: uppercase;
}

/*Slider styles*/
.slider {
    width: 100%;
}
.slide {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.slider .HeroTitle {
    border: none;
    background-color: black;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
}
.slider .HeroContent {
    margin-top: 50px;
    color: white;
    width: 80%;
    font-size: 1.3rem;
    font-style: italic;
    text-shadow: 1px 1px grey;
    font-family: 'GothamLightRegular';
}
.nextButton, .previousButton {
    visibility: hidden;
}

/*Content section styles*/
.HomeContent {
    color: #575E66;
    background-color: white;
    width: 80%;
    border: 1px solid #E0EEEE;
    border-radius: 3px;
    margin: 10px auto;
    min-height: 200px;
    margin-top: 25px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
/*Search section styles*/
.SearchSection {
    color: #575E66;
    width: 80%;
    margin: 50px auto;
}
.SearchSection h2 {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.SearchInputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.InputWrap {
    display: inline;
}
.errorSearch {
    color: red;
    font-size: 0.9rem;
    padding-top: 7px;
}
.findBtn {
    display: inline-flex;
    height: 42px;
    min-width: 100px;
    background-color: #1D7CF2;
    color: white;
    border-radius: 5px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.findBtn:hover {
    opacity: 0.7;
}
.findBtn p {
    display: inline;
    font-weight: bold !important;
    font-size: 1.2rem;
}
.findBtn .fa-search {
    color: white;
    margin-right: 10px;
}

/*TravelsSection styles*/
.TravelsSection {
    width: 100%;
    margin: 20px 0 20px 0 20px;
    background-color: #EDF0F2;
}

.TravelsSection .travelsInner {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px
}

.NoMatchMsg {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 400;
    letter-spacing: .1em;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.travelResultTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.travelResultTitle h2 {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    display: inline;
    align-self: center;
    margin-bottom: 0;
}

.travelResultTitle p {
  color: #575E66;
  font-family: 'GothamLightRegular';
  display: inline;
  font-size: 1.2rem;
  align-self: center;
}

.travelResultContent {
    min-height: 300px;
    /*border: 3px solid white;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

/*Page numbers styles*/
.PageNrWrap {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin-top: 20px;
    margin-bottom: 10px;
}
.PageNr {
  display: inline;
  border: 2px solid #DCDCDC;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
  color: #575E66;
  font-family: 'GothamLightRegular';
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ChosenNr {
    background-color: #141C27;
    opacity: 0.8;
    color: white;
}

/*Media queries*/
@media (min-width: 1200px) {
  .HomeHero {
      height: 500px;
  }
  .slider {
    height: 500px !important;
  }
}
@media (max-width: 680px) {
  .SearchInputs {
      flex-flow: column nowrap;
  }
}

@media (max-width: 500px) {
  .travelResultTitle {
      flex-direction: column !important;
  }
  .SearchSection h2 {
      text-align: center;
  }
}

@media (max-width: 400px) {
  .slider .HeroContent {
      margin-top: 30px;
  }
  .travelResultTitle {
      flex-flow: column nowrap !important;
  }
}

@media (max-width: 350px) {
  .SearchSection h2 {
      font-size: 1.2rem;
  }
}
@media (max-width: 340px) {
  .travelResultTitle h2{
      font-size: 1.2rem;
  }
}
