.notVisible {
  display: none !important;
}

/*Hero section styles*/
.HomeHero {
    height: 400px;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.HomeHero h2, .HomeHero p {
    text-align: center;
    font-size: 2.1rem;
    color: white;
    /*text-shadow: 2px 2px grey;*/
    font-weight: normal;
}

.HomeHero .lastP {
  font-size: 1rem;
  font-style: italic;
  font-family: 'Calligraffitti';
}

/*Slider styles*/
.slider {
    width: 100%;
}
.slide {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.slider .HeroTitle {
    border: none;
}
.slider .HeroContent {
    margin-top: 30px;
    color: white;
    width: 80%;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Calligraffitti';
}

/*Content section styles*/
.HomeContent {
    color: #575E66;
    background-color: white;
    width: 80%;
    border: 1px solid #E0EEEE;
    border-radius: 3px;
    margin: 10px auto;
    min-height: 200px;
    margin-top: 25px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

@media (min-width: 1200px) {
  .HomeHero {
      height: 500px;
  }
  .slider {
    height: 500px !important;
  }
}
@media (max-width: 408px) {

}
