.notVisible {
  display: none !important;
}

/*Hero section styles*/
.HomeHero {
    height: 400px;
    width: 100%;
    background-color: rgb(10, 69, 220);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.HomeHero h2 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    /*text-shadow: 2px 2px grey;*/
    font-weight: normal;
    font-family: 'GothamLightRegular';
    text-transform: uppercase;
}

/*Slider styles*/
.slider {
    width: 100%;
}
.slide {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.slider .HeroTitle {
    border: none;
    background-color: black;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
}
.slider .HeroContent {
    margin-top: 50px;
    color: white;
    width: 80%;
    font-size: 1.3rem;
    font-style: italic;
    text-shadow: 1px 1px grey;
    font-family: 'GothamLightRegular';
}
.nextButton, .previousButton {
    visibility: hidden;
}

/*Content section styles*/
.HomeContent {
    color: #575E66;
    background-color: white;
    width: 80%;
    border: 1px solid #E0EEEE;
    border-radius: 3px;
    margin: 10px auto;
    min-height: 200px;
    margin-top: 25px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
/*Search section styles*/
.SearchSection {
    color: #575E66;
    width: 80%;
    margin: 30px auto;
}
.SearchSection h2 {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .HomeHero {
      height: 500px;
  }
  .slider {
    height: 500px !important;
  }
}
@media (max-width: 400px) {
  .slider .HeroContent {
      margin-top: 30px;
  }
}
