

/*Hero section styles*/
.HowHero {
    height: 350px;
    width: 100%;

    background-image: linear-gradient(
	      	rgba(10, 69, 220, 0.5),
	      	rgba(10, 69, 220, 0.5)
	    	),
    		url(../img/car2.jpg);
    background-position: center 35%;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'GothamLightRegular';
}
.HowHero h2, .HowHero p {
    text-align: center;
    font-size: 2.1rem;
    color: white;
    text-shadow: 1px 1px #575E66;
    font-weight: normal;
    font-family: 'GothamLightRegular';
}
.HowHero h2 {
  font-size: 2rem;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.HowHero p {
  font-size: 1.3rem;
  margin-bottom: 0;
}

/*Content styles*/
.HowContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 30px;
}
.HowLeft, .HowRight {
    display: inline-flex;
    width: 50%;
    flex-flow: column nowrap;
}
.HowRight {
    margin-left: 20px;
}
.HowContent h3 {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.HowSectionWrap h4 {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.HowSectionContent {
    color: #575E66;
    font-family: 'GothamLightRegular';
    font-weight: 400;
    font-size: 1rem;
}
.stars {
    text-align: center;
    margin-top: 20px;
}
.HowContent .Last {
    margin-bottom: 50px !important;
}
/*Media queries*/
@media (max-width: 800px) {
  .HowContent {
      width: 90%;
  }
}
@media (max-width: 530px) {
  .HowContent {
      flex-flow: column wrap;
  }
  .HowLeft, .HowRight {
      width: 100%;
  }
  .HowRight {
      margin-left: 0;
  }
}
@media (max-width: 350px) {
    .HowHero h2 {
        font-size: 1.8rem;
    }
}
