.visible {
  display: block;
}

.notVisible {
  display: none !important;
}

/*Header styles*/
header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #1D7CF2;
    align-items: center;
}
header a {
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #1D7CF2;
}
header a.chosen {
  color: #0D4F8B;
}
header a:hover {
  color: #0147FA;
}
.logo, nav, .headerSecond, .headerFirst {
    display: inline;
}
.headerFirst {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
/*Logo styles*/
.logo img {
  margin: 5px 5px 0 10px;
  width: 40px;
  height: 40px;
}
.headerSecond button {
    background-color: inherit;
    border: none;
    color: #1D7CF2;
    margin-right: 20px;
    font-size: 0.9rem;
}

/*Login modal styles*/
.loginModalContent, .createAccountModalContent {
    padding-top: 20px;
		max-width: 600px;
}
.loginModalContent h2, .createAccountModalContent h2 {
    color: #4d4d4d;
    font-size: 1.5rem;
    line-height: 1.4em;
    padding: 0 20px 0 20px;
}
.form_content {
			padding: 20px;
      min-width: 300px;
	}
  .form input {
		 outline: none;
		 transition: .2s all linear;
		 display: flex;
		 padding: 8px;
		 width: 100%;
		 margin: 10px 0;
  }
  .form button {
     color: white;
     background-color: #1D7CF2;
		 border-radius: 5px;
		 font-size: 16px;
		 line-height: 100%;
		 padding: 10px 10px 5px 10px;
		 width: 8em;
     margin-top: 10px;
  }
  .loginBottom {
     margin-top: 20px;
     display: flex;
     flex-flow:  column nowrap;
     justify-content: center;
  }
  .loginBottom p {
      color: #4d4d4d;
      text-align: center;
      font-size: 0.9rem;
  }
  .loginBottom button {
      font-size: 1rem;
      margin: 0 auto;
      padding-top: 5px;
      color: #1D7CF2;
      border: none;
      background-color: inherit;
      align-self: center;
  }
  .loginBottom button:hover {
    color: #0147FA;
  }

/*Menu for mobile screen*/
.mobileMenu {
    display: none;
	  top: 10px;
	  z-index: 1;
    position: relative;
	  -webkit-user-select: none;
	  user-select: none;
    padding-top: 30px;
}
.positionRel {
    position: relative;
}
.positionAbs {
  width: 100%;
  position: absolute;
  z-index: 200;
}
	.mobileMenu input
	{
	  display: block;
	  width: 768%;
	  height: 40px;
	  position: absolute;
	  top: -5px;
	  left: -20px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 3; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}







@media (max-width: 1200px) {

}
@media (max-width: 750px) {
    .desktopMenu {
        display: none;
    }
    .mobileMenu {
        display: inline-block;
    }
    .logo_Menu {
      margin-top: 15px;
    }
}
@media (max-width: 500px) {
  .logo_Menu{
    margin-top: 5px;
    width: 170px;
    height: 35.54px;
  }

}
@media (max-width: 400px) {
  .loginModalContent h2, .createAccountModalContent h2 {
    padding-left: 0;
    padding-right: 0;
  }
  .form_content {
      padding-left: 0;
      padding-right: 0;
      min-width: 200px;
  	}

}
