.visible {
  display: block;
}

.notVisible {
  display: none !important;
}

/*Login Message page styles*/

.OfferARideHero {
    height: 100%;
}
.OfferARideHero {
    height: 350px;
    width: 100%;

    background-image: linear-gradient(
	      	rgba(10, 69, 220, 0.8),
	      	rgba(10, 69, 220, 0.8)
	    	),
    		url(../img/car20.jpg);
    background-position: center 50%;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.OfferARideHero h2, .OfferARideHero p {
    text-align: center;
    font-size: 2.1rem;
    color: white;
    /*text-shadow: 2px 2px grey;*/
    font-weight: normal;
}
.OfferARideHero h2 {
  font-size: 2.1rem;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.OfferARideHero p {
  font-size: 1.2rem;
}
.OfferARideHero .lastP {
  font-size: 1rem;
  font-style: italic;
  font-family: 'Calligraffitti';
}
.OfferARideContent {
    color: #575E66;
    width: 80%;
    border: 2px solid #6B7380;
    border-radius: 3px;
    /*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin: 10px auto;
    min-height: 200px;
    margin-top: 25px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.From {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.OfferARideContent h3 {
    margin: 20px;
}
.OfferARideContent .line {
    background-color: grey;
    margin: 10px;
    height: 1px;
}
.selects {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.selectDiv {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.formSection {
    position: relative;
    margin-bottom: 25px;
}
.selectDiv select {
    height: 30px;
    width: 150px;
}
.selectDiv label {
    margin-right: 30px;
    font-weight: bold;
}
.selectDiv div {
    display: block;
}
.OfferARideContent form {
    min-width: 300px;
    position: relative;
}
/*Search field styles*/
.offer input[type="text"] {
   outline: none;
   padding: 8px;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 2px !important;
   color: #575E66;
   border: 1px solid grey;
   height: 35px;
   border-radius: 3px;
}
.cityResultDiv {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #e7e7e7;
    position: absolute;
    width: 100%;
    background-color: white;
    opacity: 1;
    z-index: 10
}
.city {
    padding: 5px;
}
.city:hover {
    background-color: #e3e3e3;
    border: 1px solid #e7e7e7;
}

/*Date Picker section styles*/
.datePicker {
  position: absolute;
  width: 100%;
  background-color: white;
  opacity: 1;
  z-index: 10
}

/*Round trip styles*/
.checkReturn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.checkReturn input[type="checkbox"] {
    align-self: center;
}
.checkReturn label {
    align-self: center;
}

@media (max-width: 1200px) {

}
@media (max-width: 408px) {
  .OfferARideContent form {
      min-width: 100px;
  }
}
