.visible {
  display: block;
}

.notVisible {
  display: none !important;
}

/*Login Message page styles*/

.OfferARideHero {
    height: 100%;
}
.OfferARideHero {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(
	      	rgba(255, 255, 255, 0.1),
	      	rgba(255, 255, 255, 0.1)
	    	),
    		url(../img/car27.jpg);
    background-position: center 50%;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.OfferARideHero h2, .OfferARideHero p {
    text-align: center;
    font-size: 2.1rem;
    color: white;
    text-shadow: 2px 2px grey;
    font-weight: normal;
}
.OfferARideHero h2 {
  font-size: 2.1rem;
}
.OfferARideHero p {
  font-size: 1.2rem;
}
.OfferARideContent {
    width: 80%;
    border-radius: 10px;
    /*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin: 0 auto;
    min-height: 200px;
}
@media (max-width: 1200px) {

}
@media (max-width: 750px) {

}
