.notVisible {
  display: none !important;
}
.TravelsSection {
    background-color: white !important;
}
.LastTravelSection {
    margin-top: 30px;
}
.TravelsSection .TravelsTitle {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    text-transform: none;
}
.TravelsSection .NoMsg {
    background-color: white;
    margin: 20px 20px 0 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #DCDCDC;
    font-size: 1.1rem;
    color: #575E66;
}
.LastNoMsg {
    border-bottom: none !important;
}

/*Travel item styles*/
.TravelWrap2 {
    background-color: inherit;
    padding: 20px 0 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #575E66;
    font-family: 'GothamLightRegular';
    border-bottom: 2px solid #DCDCDC;
    width: 90%;
    margin: 0 auto;
}
.TravelInfo2 {
   display: inline;
}
.TravelTitle2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.TravelTitle2 h3{
    display: inline;
    margin: 0 10px 0 0;
}
.TravelTitle2 .fa-caret-right {
    color: #575E66;
    font-size: 1.4rem;
    margin-right: 10px;
}
.TravelTitle2 .fa-car {
    color: #1D7CF2;
    font-size: 1.5rem;
    margin-right: 10px;
}
.TravelInfo2 h4 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*Buttons section styles*/
.TravelBtnsWrap {
    display: inline;
}
.TravelBtn {
    display: inline-block;
    width: 90px;
    line-height: 100%;
    background-color: #1D7CF2;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #1D7CF2;
    font-family: 'GothamLightRegular';
    color: white;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
}
.TravelBtnRemove {
    margin-top: 20px;
}
/*Button styles*/
.TravelBtns {
    justify-content: center !important;
}
.TravelBtn {
    display: inline-block;
    width: 100px;
    line-height: 100%;
    background-color: #1D7CF2;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #1D7CF2;
    font-family: 'GothamLightRegular';
    color: white;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#cancelBtnTravel {
    background-color: #C0C0C0;
    border: 2px solid #C0C0C0;
    margin-right: 20px;
}


/*Media queries*/
@media (min-width: 1200px) {

}
