.TravelWrap {
    background-color: inherit;
    padding: 20px 0 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #575E66;
    font-family: 'GothamLightRegular';
    border-bottom: 2px solid #DCDCDC;
    width: 90%;
    margin: 0 auto;
}
.TravelInfo {
   display: inline;
}
.TravelTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.TravelTitle h3{
    display: inline;
    margin: 0 10px 0 0;
}
.TravelTitle .fa-caret-right {
    color: #575E66;
    font-size: 1.4rem;
    margin-right: 10px;
}
.TravelTitle .fa-car {
    color: #1D7CF2;
    font-size: 1.5rem;
    margin-right: 10px;
}
.TravelTitle img {
    margin-right: 10px;
    width: 25px;
    height: auto;
}
.TravelInfo h4 {
  font-size: 1rem;
  margin-top: 0;
}
/*User styles*/
.UserInfo {
    display: block;
    width: 200px;
}
.UserTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.UserTop img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    margin-right: 20px;
}
/*Rate styles*/
.Rate {
  font-family: 'Ionicons';
  font-size: 48px;
  display: inline-flex;
  cursor: pointer;
}

.Rate > .star::after {
    content: '\f3ae';
    color: #777;
}

.Rate > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}
