.visible {
  display: block;
}

.notVisible {
  display: none;
}

.AppWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  flex: none;
}

/*Content of the page*/
.innerWrap {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  background-color: #EDF0F2;
}
.main {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}

main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

/*Footer styles*/
footer {
    background-color: #141C27;
    padding: 20px;
    color: white;
}
