* {
  box-sizing: border-box;
}
.visible {
  display: block;
}

.notVisible {
  display: none;
}

.AppWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  flex: none;
}

/*Content of the page*/
.innerWrap {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  background-color: #EDF0F2;
}
.main {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}

main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

/*Footer styles*/
footer {
    background-color: #1D2331;
    padding: 20px;
    color: white;
    opacity: 1;
}
.footerTop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.footerLinks {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.footerLinks a {
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}
.footerLinks a:hover {
    color: #0D4F8B;
}
.shareWrap {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.shareComp {
    width: 183px;
    height: 35px;
    margin-right: -183px;
    z-index: 5;
}
.facebookShare {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid white;
    height: 35px;
    padding: 7px;
    cursor: pointer;
    margin-right: 10px
}
.facebookShare:hover {
    background-color: white;
    color: #1D2331;
    font-weight: bold;
}
.facebookShare .fa-facebook-f {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    padding-right: 10px;
    border-right: 1px solid grey;
}
.facebookShare span {
    margin-left: 10px;
}
.copy {
		text-align: center;
		margin-top: 40px;
		font-size: 0.9rem;
		color: #868e96;
	}

  @media (max-width: 300px) {
      .footerLinks a {
          margin-left: 0;
      }
      .facebookShare {
          margin-right: 0;
      }
  }
